= bootstrap_form_for(@notice, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f|
  - if @notice.errors.any?
    .error_explanation
      %p #{pluralize(@notice.errors.count, "error")} prohibited this notice from being saved:
      %ul
        - @notice.errors.full_messages.each do |message|
          %li= message
  = render(partial: 'notices/form_groups/intro', locals: {f: f})
  = render(partial: 'notices/form_groups/incident_details', locals: {f: f})
  = render(partial: 'notices/form_groups/damages', locals: {f: f})
  #actions
    = f.submit 'Submit', class: 'btn btn-submit'
