#notice= notice

.row
  .col-md-12
    %h2 Review your Notice of Claim
.row
  .col-md-3
    %p.text-right Name
  .col-md-9
    %p= @notice.name
.row
  .col-md-3
    %p.text-right Address
  .col-md-9
    %p= @notice.address

.row
  .col-md-12
    %h3 Incident Details 
.row
  .col-md-3
    %p.text-right Incident Location
  .col-md-9
    %p= @notice.incident_location
.row
  .col-md-3
    %p.text-right Incident Occurred On
  .col-md-9
    %p= @notice.incident_occurred_at.strftime("%m/%d/%Y at %I:%M %p")

.row.section-head#injuries
  .col-md-12
    %p.lead Injuries
= render(partial: 'notices/cards/injuries')

= human_boolean "An officer threatened to hit or hurt me", @notice.officer_threatened_injury

.row.section-head#search
  .col-md-12
    %p.lead Search, Seizure, Damage, or Destruction of Property

= human_boolean "An officer searched me or my property without my permission", @notice.officer_searched
= render(partial: 'notices/cards/searched_objects')

= human_boolean "An officer took my property", @notice.officer_took_property
.row
  .col-md-9.col-md-offset-3
    %p What was taken?
    %p= @notice.officer_took_what
      
= human_boolean "An officer damaged my property", @notice.officer_damaged_property
.row
  .col-md-9.col-md-offset-3
    %p What was damaged?
    %p= @notice.officer_damaged_what

= human_boolean "An officer destroyed my property", @notice.officer_destroyed_property
.row
  .col-md-9.col-md-offset-3
    %p What was destroyed?
    %p= @notice.officer_destroyed_what

.row.section-head#arrests
  .col-md-12
    %p.lead Arrests
= human_boolean "An officer arrested me without probable cause", @notice.officer_arrested_no_probable_cause

.row.section-head#medical
  .col-md-12
    %p.lead Refusal of Medical Attention
= human_boolean "I needed medical attention, but an officer refused to provide it", @notice.officer_refused_medical_attention

.row.section-head#officers
  .col-md-12
    %h3 Officers Involved
.row
  .col-md-3
    %p.text-right How many officers were involved?
  .col-md-9
    %p= @notice.number_officers
- @notice.officers.each.with_index(1) do |o, index|
  .row
    .col-md-9.col-md-offset-1
      %h5 Officer #{index}
  .row
    .col-md-3
      %p.text-right Name
    .col-md-9
      %p= o.name
  .row
    .col-md-3
      %p.text-right Badge number
    .col-md-9
      %p= o.badge_number

.row.section-head#damages
  .col-md-12
    %h3 Damages

= human_boolean "Did you experience physical pain?", @notice.damages_physical_pain
= human_boolean "Did you seek medical attention?", @notice.damages_medical_attention
= human_boolean "Did you have to miss work?", @notice.damages_miss_work
= human_boolean "Did you experience embarrassment or humiliation?", @notice.damages_embarrassment
= human_boolean "Did you experience emotional distress?", @notice.damages_emotional_distress
= human_boolean "Was your property lost, damaged or stolen?", @notice.damages_property

.row
  .col-md-12
    %p.nav-links.pull-right
      #{link_to 'Edit', edit_notice_path(@notice)} | #{link_to 'Back', notices_path}

.btn= link_to 'Generate Notice of Claim Letter', letter_path(@notice)
.btn= link_to 'Generate Verification Letter', verification_path(@notice)
