= f.form_group :damages, label: {text: "Because of the encounter:"} do
  %fieldset{id: "damages"}
    = f.check_box :damages_physical_pain, label: "Did you experience physical pain?"
    = f.check_box :damages_medical_attention, label: "Did you seek medical attention?"
    = f.check_box :damages_miss_work, label: "Did you have to miss work?"
    = f.check_box :damages_embarrassment, label: "Did you experience embarrassment or humiliation?"
    = f.check_box :damages_emotional_distress, label: "Did you experience emotional distress?"
    = f.check_box :damages_property, label: "Was your property lost, damaged, or stolen?"
