= f.text_field :incident_location, label: "Incident location"

.form-group
  = f.label :incident_occurred_at, class: "control-label col-sm-2"
  .col-sm-5
    = f.text_field_without_bootstrap :incident_occurred_at_date, as: :string, class: "form-control"
  .col-sm-5
    = f.time_field_without_bootstrap :incident_occurred_at_time, as: :time, class: "form-control"

= f.form_group :outcome_fields, label: {text: "What happened?"} do
  %fieldset#battery-and-assault
    = f.check_box :officer_injured_me

    // Physical injury sub-form
    = f.form_group :notice_physical_injury_details,
      label: {text: "How did the officer physically injure you?"},
      layout: :default,
      class: "sub-questions" do
      = f.fields_for :physical_injury do |phy_inj|
        %fieldset#physical-injury-details
          = phy_inj.check_box :beaten_with_object
          = phy_inj.check_box :hit_by_police_vehicle
          = phy_inj.check_box :choked
          = phy_inj.check_box :pepper_sprayed
          = phy_inj.check_box :tasered
          = phy_inj.check_box :attacked_by_police_animal
          = phy_inj.check_box :physical_force
          = phy_inj.check_box :handcuffs_too_tight
          = phy_inj.check_box :other
          = phy_inj.text_field :other_description, hide_label: true, layout: :default, class: "sub-questions"

    = f.check_box :officer_threatened_injury

  %fieldset#unlawful-search
    = f.check_box :officer_searched, label: "An officer searched me or my property without my permission"
    = f.form_group :notice_searched_object_details,
                    label: {text: "What was searched?"}, layout: :default,
                    class: "sub-questions" do
      = f.fields_for :searched_object do |so|
        %fieldset.searched-object-details
          = so.check_box :vehicle
          = so.check_box :bag
          = so.check_box :pockets
          = so.check_box :home
          = so.check_box :other

  %fieldset#seizure-conversion-trespass
    = f.check_box :officer_took_property, label: "An officer took my property"
    = f.text_field :officer_took_what, label: "What was taken?", layout: :default, wrapper: {class: "sub-questions"}

    = f.check_box :officer_damaged_property, label: "An officer damaged my property"
    = f.text_field :officer_damaged_what, label: "What was damaged?", layout: :default, wrapper: {class: "sub-questions"}

    = f.check_box :officer_destroyed_property, label: "An officer destroyed my property"
    = f.text_field :officer_destroyed_what, label: "What was destroyed?", layout: :default, wrapper: {class: "sub-questions"}

    = f.check_box :officer_arrested_no_probable_cause, label: "An officer arrested me without probable cause"

    = f.check_box :officer_refused_medical_attention, label: "I needed medical attention, but the police refused to provide it"

  %fieldset#other
  = f.check_box :none_of_the_above, label: "None of the above"

