.form-group#incident-location
  = f.label :incident_location, "Incident Location", class: 'col-sm-2 control-label'
  .col-sm-10
    = f.text_field :incident_location, class: 'form-control'
.form-group#incident-occurred-at
  = f.label :incident_occurred_at, class: "col-sm-2 control-label"
  .col-sm-10
    = f.datetime_field :incident_occurred_at, class: 'form-control'
.form-group#outcome
  %label{:for => "outcome", class: "col-sm-2 control-label"} What happened?
  .col-sm-10
    %fieldset{id: "outcome"}
      .checkbox
        = f.label :officer_injured_me do
          = f.check_box :officer_injured_me
          An officer physically injured me
      // Physical injury sub-form
      .form-group
        = label_tag "physical-injury-details", "How did the officer physically injure you?"
        = field_set_tag nil, id: "physical-injury-details" do
          = f.fields_for :physical_injury do |phy_inj|
            .checkbox
              = phy_inj.label :beaten_with_object do
                = phy_inj.check_box :beaten_with_object
                Beaten with object
            .checkbox
              = phy_inj.label :hit_by_police_vehicle do
                = phy_inj.check_box :hit_by_police_vehicle
                Hit by police vehicle
            .checkbox
              = phy_inj.label :choked do
                = phy_inj.check_box :choked
                Choked
            .checkbox
              = phy_inj.label :pepper_sprayed do
                = phy_inj.check_box :pepper_sprayed
                Pepper-sprayed
            .checkbox
              = phy_inj.label :tasered do
                = phy_inj.check_box :tasered
                Tasered
            .checkbox
              = phy_inj.label :attacked_by_police_animal do
                = phy_inj.check_box :attacked_by_police_animal
                Attacked by police animal
            .checkbox
              = phy_inj.label :physical_force do
                = phy_inj.check_box :physical_force
                Physical force (ie kicked, hit)
            .checkbox
              = phy_inj.label :handcuffs_too_tight do
                = phy_inj.check_box :handcuffs_too_tight
                Handcuffs were applied too tightly
            .checkbox
              = phy_inj.label :other do
                = phy_inj.check_box :other
                Other
            .form-group
              = phy_inj.label :other_description, class: 'sr-only'
              = phy_inj.text_field :other_description, class: 'form-control'
    .form-group
      .checkbox
        = f.label :officer_threatened_injury do
          = f.check_box :officer_threatened_injury
          An officer threatened to physically injure me
    .form-group
      .checkbox
        = f.label :officer_searched do
          = f.check_box :officer_searched
          An officer searched me or my property without my permission
    .form-group
      = label_tag "What did the officer search?"
      = field_set_tag nil do
        = f.fields_for :searched_object do |so|
          .checkbox
            = so.label :vehicle do
              = so.check_box :vehicle
              Vehicle
          .checkbox
            = so.label :bag do
              = so.check_box :bag
              Bag
          .checkbox
            = so.label :pockets do
              = so.check_box :pockets
              Pockets
          .checkbox
            = so.label :home do
              = so.check_box :home
              Home
          .checkbox
            = so.label :other do
              = so.check_box :other
              Other
    .form-group
      .checkbox
        = f.label :officer_took_property do
          = f.check_box :officer_took_property
          An officer took my property
    .form-group
      = f.label :officer_took_what, "What was taken?", class: "col-sm-2 control-label"
      .col-sm-10
        = f.text_field :officer_took_what, class: 'form-control'
    .form-group
      .checkbox
        = f.label :officer_damaged_property do
          = f.check_box :officer_damaged_property
          An officer damaged my property
    .form-group
      = f.label :officer_damaged_what, "What was damaged?", class: "col-sm-2 control-label"
      .col-sm-10
        = f.text_field :officer_damaged_what, class: 'form-control'
    .form-group
      .checkbox
        = f.label :officer_destroyed_property do
          = f.check_box :officer_destroyed_property
          An officer destroyed my property
    .form-group
      = f.label :officer_destroyed_what, "What was destroyed?"
      = f.text_field :officer_destroyed_what, class: 'form-control'
    .form-group
      .checkbox
      = f.label :officer_arrested_no_probable_cause do
        = f.check_box :officer_arrested_no_probable_cause
        An officer arrested me without probable cause
    .form-group
      .checkbox
        = f.label :officer_refused_medical_attention do
          = f.check_box :officer_refused_medical_attention
          I needed medical attention, but the police refused to provide it
    .form-group
      .checkbox
        = f.label :none_of_the_above do
          = f.check_box :none_of_the_above
          None of the above

    / officer details
    .form-group
      = f.label :number_officers, "How many officers were involved?", class: "col-sm-2 control-label"
      .col-sm-10
        = f.number_field :number_officers, in: 0..3, step: 1, class: 'form-control', id: 'number-officers'
        = link_to_add_fields('test', f, 'officers')
