= bootstrap_form_for(@screener, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f|
  - if @screener.errors.any?
    #error_explanation
      %h3 #{pluralize(@screener.errors.count, "error")} prohibited this screener from being saved:
      %ul
        - @screener.errors.full_messages.each do |message|
          %li= message
  = f.select :harmed_mistreated,
          [['Yes', 1], ['No', 2]], {include_blank: true},
          {label: 'Were you harmed or mistreated by the NYPD?'}
  = f.text_field :incident_occurred_on, label: "When did the incident happen?"

  .actions
    = f.submit 'Submit', class: 'btn btn-default'
