= form_for(@screener) do |f|
  - if @screener.errors.any?
    #error_explanation
      %h3 #{pluralize(@screener.errors.count, "error")} prohibited this screener from being saved:
      %ul
        - @screener.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.select(:harmed_mistreated,
                  options_for_select([['Yes', 1], ['No', 2]], :include_blank))
    -#%label{:for => "mistreated"} Were you harmed or mistreated by the NYPD?
    -#%select.form-control{id: "mistreated", name: "mistreated"}
      %option(selected disabled hidden value='')
      %option Yes
      %option No
  .form-group
    = f.date_field(:incident_occurred_on)
    -#%label{:for => "incident-date"} When did it happen?
    -#%input.form-control{type: "date", name: "incident-date", id: "incident-date"}
  .actions
    = f.submit
