<p id="notice"><%= notice %></p>

<h1>Listing Screeners</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screeners.each do |screener| %>
      <tr>
        <td><%= link_to 'Show', screener %></td>
        <td><%= link_to 'Edit', edit_screener_path(screener) %></td>
        <td><%= link_to 'Destroy', screener, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Screener', new_screener_path %>
